<header class="navbar navbar-fixet-top navbar-inverse">
  <div class="container">
  <%= link_to "Sample App", '#', id: "logo" %>
  <nav>
  <ul class="nav navbar-nav navbar-right">
<li><a href="/static_pages/home">Home</a></li>
<li><a href="/static_pages/help">Help</a></li>
<li><a href="/static_pages/about">About</a></li>
<li><a href="/static_pages/contact">Contact</a></li>
<li><a href="/static_pages/log_in">Log In</a></li>
</ul>
</nav>
</div>
</header>